<section id="container">
  <div id="game-card">
    <h1>Want to test your memory?</h1>
    <p>Enter your name and click the button to start the game!</p>

<form (ngSubmit)="startGame()" >
  <!-- Input for player's name -->
  <input [(ngModel)]="userName" name="userName" type="text"  id="player-name" placeholder="Enter your name" aria-label="Enter your name to start the game"/>


  <!-- Start button -->
  <button type="submit" id="start-button">Start Game</button>
</form>
    <!-- Rules -->
    <div id="rules">
      <h2>Rules:</h2>
      <ul>
        <li>Memorize the sequence of items shown.</li>
        <li>Repeat the sequence to score points.</li>
        <li>The difficulty increases with each level.</li>
      </ul>
    </div>
  </div>
</section>
